.project {
  display: flex;
  flex-direction: column;
  background-color: rgb(250, 250, 250);
  color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  overflow: hidden;

  .project-img {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
  }

  .project-details {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    .project-date {
      font-size: 15px;
      letter-spacing: 1px;
      color: #e5e5e5;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .project-title {
      font-size: 24px;
      font-weight: 900;
      color: #fff;
      margin-bottom: 10px;
    }

    .project-description {
      font-size: 16px;
      color: #ccc;
      margin-bottom: 10px;
    }

    .project-role {
      font-size: 14px;
      color: #fca311;
      margin-bottom: 10px;
    }

    .project-tech {
      display: flex;
      gap: 10px;
      margin-bottom: 10px;
    }

    .project-links {
      display: flex;
      gap: 10px;

      .icon {
        color: #fff;
        font-size: 20px;
        transition: color 0.2s linear;

        &:hover {
          color: #fca311;
        }
      }
    }
  }
}
